.Input {
  display: flex !important;
  flex-direction: column;
  max-width: 625px;
  border: 1px solid rgba(0, 0, 0, .31);
  background-color: #fefefe;
  border-radius: 3px;
  position: relative;
  padding: 0.7rem 0 0 1rem;
}

.Input_half .hint{
    right: -762px;
}


.Input.correct {
  border: 1px solid #8ac43f;
}


.Input__label {
  color: #000;
  font-size: 0.9rem;
  opacity: 0.8;
}

.Input__field {
  outline: none;
  padding: 10px 0px 10px 0px;
  border: none;
  width: 100%;
  color: #000;
  line-height: 1.3rem;
  transition: .5s;
  font-size: 1rem;
}

.Input__field:focus + .hint{
    display: block;
}

.Input.disabled, .Input.disabled input{
    background: #fff;
    opacity: 0.7;
}

.Input__error {
  position: absolute;
  left: 0px;
  bottom: -1.5rem;
  width: 100%;
  text-align: right;
  color: #cc091d;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.Input.correct::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background: url('./img/ok.png') no-repeat center / contain;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.Input.incorrect{
  background-color: #fbe3e3;
  border: 1px solid #cc091d;
}

.Input.incorrect input{
  background-color: #fbe3e3;
}

.Input.incorrect::after{
  position: absolute;
  content: "!";
  color: #cc091d;
  font-size: 25px;
  font-weight: 700;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.Input .Datepicker .form-control{
    box-shadow: none;
}

.react-phone-number-input__input{
    border-bottom: 0px !important;
}

@media (max-width:767px),(max-device-width:767px) {
    .Input{
        width: 90%;
    }
}
