.Button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Button-wrapper_mw-625{
    max-width: 625px;
}

.Button{
    cursor: pointer;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 0.8rem;
    line-height: 1;
    text-transform: uppercase;
    padding: 0.7rem 2.0rem;
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: #d89c22;
    text-decoration: none;
}

.Button.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.Button__text{
      font-size: 0.7rem;
      line-height:1.1rem;
      margin-top: 6px;
      text-align: center;
}

.Button:hover{
    text-decoration: none;
    color: #fff;
}


.Button_red{
    background-color: #cc091d;
    color: #ffffff;
    text-transform: uppercase;
    border: none
}

.Button_red-label{
    color: #cc091d;
    text-transform: uppercase;
    background-color: transparent;
    display: block;
    font-size: 0.8rem;
    padding-right: 0;
    outline: none;
}

.Button_red-label:hover{
    color: tomato;
}

.Button_red-border{
    color: #cc091d;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #cc091d;
    outline: none;
}

.Button_red-border:hover{
    color: tomato;
}

@media (max-width:767px),(max-device-width:767px) {
    .Button-wrapper{
        margin: 0.25rem auto;
    }
}
