.Select_currency {
  width: 120px;
}

.Select_language {
  display: block !important;
  font-size: 2rem;
  height: 38px;
  border: 1px solid #ccc;
}

.Select_language .arrow-down, .Select_language .country-label {
  position: relative;
  top: 6px;
}

.Input__field > *{
    border: none !important;
    background: #fff !important;
}

.Select .Input__field{
    padding-bottom: 0px;
    padding-top: 2px;
    margin-left: -9px;
}

.Input.Select.incorrect .Input__field > *{
    background-color: #fbe3e3 !important;
}

.Select_country{
    display: flex !important;
    flex-direction: column;
    user-select: none;
}

.Select_country .selected--flag--option, .Select_country .country-label{
    font-size: 1.0rem !important;
    padding: 0px !important;
    color: hsl(0,0%,50%);
}

.Select_country .country-flag > img{
    top: -2px !important;
}

.Select_country .flag-select{
    padding: 6px 0px 10px 0px !important;
}
