.Select_currency {
  width: 120px;
}

.Select_language {
  display: block !important;
  font-size: 2rem;
  height: 38px;
  border: 1px solid #ccc;
}

.Select_language .arrow-down, .Select_language .country-label {
  position: relative;
  top: 6px;
}

.Input__field>* {
  border: none !important;
  background: #fff !important;
}

.Select .Input__field {
  padding-bottom: 0px;
  padding-top: 2px;
  margin-left: -9px;
}

.Input.Select.incorrect .Input__field>* {
  background-color: #fbe3e3 !important;
}

.Select_country {
  display: flex !important;
  flex-direction: column;
  user-select: none;
}

.Select_country .form-control{
    border: none!important;
    box-shadow: none!important;
}

.Select_country .flag-dropdown{
    border: none!important;
    background-color: transparent!important;
}

.Select_country .flag-dropdown:hover{
    background-color: transparent;
}

.Select_country .selected--flag--option, .Select_country .country-label {
  font-size: 1.0rem !important;
  padding: 0px !important;
  color: hsl(0, 0%, 50%);
}

.Select_country .country-flag>img {
  top: -2px !important;
}

.Select_country .flag-select {
  padding: 6px 0px 10px 0px !important;
}

.Select_country .selected--flag--option {
  display: flex !important;
  justify-content: space-between;
}

.Select_country .arrow-down {
  font-size: 0px !important;
  display: block;
  background: url(https://cdn4.iconfinder.com/data/icons/iready-symbols-arrows-vol-1/28/004_038_down_arrow_next_bottom_end_circle1x-512.png) no-repeat center / 13px;
  width: 16px;
  height: 16px;
  margin-right: 9px;
  margin-top: 7px;
}

.Select_country .selected--flag--option  .country-flag{
  display: flex;
}

.Select_country .flag-select .country-flag .country-label {
  position: relative;
  top: -3px;
  left: 5px;
  white-space: nowrap;
}

.Select_country .flag-select .filterBox input{
    background: #fff !important;
    width: calc(100% - 14px);
    margin: 0 7px;
    border: 1px solid rgba(0, 0, 0, .31);
    padding: 5px 0;
    text-indent: 10px;
}

.Select_country .flag-options {
    margin-left: -17px;
    width: calc(100% + 18px);
}

.react-phone-number-input__icon {
  position: relative;
}

.react-phone-number-input__icon>img {
  position: absolute;
}

.react-select__dropdown-indicator svg{
    display: none;
}
