.Step{
    max-width: 710px;
    padding: 1rem;
    background: #ffffff;
    padding-bottom: 30px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
    border-top: 1px solid #cc091d;
    padding-top: 0;
    padding-left: 2rem;
    position: relative;
}

.Step__title{
    background: #cc091d;
    padding: 0.4rem 0px 0.4rem 1rem;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: -2rem;
    margin-right: -1rem;
    margin-top: 0.6rem;
}

.Step__description{
    display: flex;
    max-width: 605px;
    margin: 2rem auto 1.7rem 1rem;
    align-items: flex-start;
}

.Step__description_summary {
    display: block;
}

.Step__text{
    max-width: 544px;
    color: #353535;
    font-size: 0.85rem;
    line-height: 1.3rem;
}

.Step__payment-info{
    border-bottom: 1px solid #cfcccc;
    border-top: 1px solid #cfcccc;
}

.Step__proceed-payment{
    background: #f2f2f2;
    padding: 13px 26px 13px 14px;
    max-width: 626px;
    font-size: .9rem;
}

.Step__color-red{
    color: #cc091d;
}

.Step__note{
    position: absolute;
    right: -340px;
    max-width: 314px;
    top: 0;
}

.Step__step-note{
    font-size: 0.85rem;
}

@media (max-width: 1170px), (max-device-width: 1170px) {
	.Step__note {
		display: none !important;
	}
}
