.Step{
    max-width: 710px;
    padding: 1rem;
    background: #ffffff;
    padding-bottom: 30px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
    border-top: 1px solid #cc091d;
    padding-top: 0;
    padding-left: 2rem;
}

.Step__title{
    background: #cc091d;
    padding: 0.4rem 0px 0.4rem 1rem;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: -2rem;
    margin-right: -1rem;
    margin-top: 0.6rem;
}

.Step__description{
    display: flex;
    max-width: 605px;
    margin: 2rem auto 1.7rem 1rem;
    align-items: flex-start;
}

.Step__text{
    max-width: 544px;
    color: #353535;
    font-size: 0.85rem;
    line-height: 1.3rem;
}
