.App, .App *{
    font-family: "Open Sans" !important;
    text-align: left;
    box-sizing: border-box !important;
}

.App__container{
    background-color: #f7f7f7;
    padding-bottom: 2rem;
}


@media (max-width:768px), (max-device-width:768px) {
    .App, .App *{
        text-align: center !important;
    }
}
