.Sticky{
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: #fed9dd;
  display: flex;
  padding: 1.5rem 2rem;
  border-top: 1px solid #cc091d;
  border-bottom: 1px solid #cc091d;
  align-items: center;
}

.Sticky__error-img{
  max-width: 33px;
  max-height: 33px;
  margin-right: 2rem;
}

.Sticky__error-title{
  font-family: "Open Sans";
  font-size: 1rem;
  color: #cc091d;
  line-height: 26px;
}

.sticky__error-item{
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 5px;
}

.Sticky_error{
    top: 94px;
}

.Sticky_price{
    display: flex;
    background-color: #fff;
    border-top: 3px solid #d89c22;
    padding-left: 46px;
    align-items: center;
    padding-right: 10px;
    top: 41px;
    margin: 0;
    padding: .5rem 2rem;
}

.Sticky__price-title{
    color: #cc091d;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
}

.Sticky__price-result{
    display: flex;
    align-items: baseline;
}

.Sticky__price__total-label{
    font-size: 12px;
    color: #353535;
    text-transform: uppercase;
}

.Sticky__price__total-sum{
    color: #cc091d;
    font-size: 16px;
    font-weight: 700;
}

@media(max-width: 767px), (max-device-width:767px){
    .Sticky{
        position: static;
    }
}
