.ToggleTab__title{
  max-width: 626px;
  background: #cc091d;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.ToggleTab__title-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.ToggleTab__title-icon{
  width: 27px;
  height: 27px;
  background: #ffffff url('./img/arrow-bottom.png') no-repeat center / 16px 8px;
  cursor: pointer;
  border-radius: 3px;
}

.ToggleTab__title-icon.close{
  transform: rotate(180deg);
}
